<footer class="pt-10">
  <div class="w-[1128px] mx-auto pt-6">
    <ion-row>
      <ion-col size="6">
        <ion-row>
          <ion-col>
            <label class="text-green-800 font-semibold">TRUNG TÂM TỔNG ĐÀI & CSKH</label><br />
            <label class="text-primary text-2xl font-bold">1900 6067</label>
          </ion-col>
          <ion-col>
            <a target="_blank" href="#">
              <div class="relative h-[60px] w-40">
                <img class="transition-all duration-200 relative h-[60px] w-40"
                  src="assets/web/images/commercial-certificate.png" />
              </div>
            </a>
          </ion-col>
        </ion-row>
        <ion-row class="pt-2">
          <label class="text-green-800 font-semibold">Công ty cổ phần xe khách SF BUS - SF BUS Lines</label>
        </ion-row>
        <ion-row class="pt-2">
          <label class="font-semibold">
            <span class="text-gray-500">Địa chỉ:</span>
            <span class="text-black">&nbsp;325 Nguyễn Văn Cừ, P. 4, Q. 5, TP. HCM</span>
          </label>
        </ion-row>
        <ion-row class="pt-2">
          <label class="font-semibold">
            <span class="text-gray-500">Email:</span>
            <span class="text-primary">&nbsp;hotro{{ "@" }}SFPay.vn</span>
          </label>
        </ion-row>
        <ion-row class="flex justify-between pt-2">
          <ion-col>
            <label class="font-semibold">
              <span class="text-gray-500">Điện thoại:</span>
              <span class="text-black">&nbsp;0909090909</span>
            </label>
          </ion-col>
          <ion-col>
            <label class="font-semibold">
              <span class="text-gray-500">Fax:</span>
              <span class="text-black">&nbsp;0909090909</span>
            </label>
          </ion-col>
        </ion-row>
        <ion-row class="flex justify-between pt-2">
          <ion-col>
            <label class="text-green-800 font-semibold">Tải app SF Pay</label><br />
            <div class="pt-2 flex gap-4">
              <a target="_blank" class="relative" href="#">
                <div class="relative min-h-[24px] w-[86px] object-cover">
                  <img class="transition-all duration-200 relative min-h-[24px] w-[86px] object-cover"
                    src="assets/web/icons/CHPlay.svg" />
                </div>
              </a><a target="_blank" class="relative" href="#">
                <div class="relative min-h-[24px] w-[86px] object-cover">
                  <img class="transition-all duration-200 relative min-h-[24px] w-[86px] object-cover"
                    src="assets/web/icons/AppStore.svg" />
                </div>
              </a>
            </div>
          </ion-col>
          <ion-col>
            <label class="text-green-800 font-semibold">Kết nối chúng tôi</label>
            <div class="pt-2 flex gap-4">
              <a target="_blank" href="#" rel="noreferrer">
                <div class="">
                  <img width="27" height="27" class="transition-all duration-200 undefined"
                    src="assets/web/icons/fb.svg" />
                </div>
              </a><a target="_blank" href="#" rel="noreferrer">
                <div class="">
                  <img width="27" height="27" class="transition-all duration-200 undefined"
                    src="assets/web/icons/youtube.svg" />
                </div>
              </a>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="3" class="pl-3">
        <label class="text-green-800 font-semibold">SF BUS Lines</label>
        <ul>
          <li class="text-black font-semibold list-[circle] list-inside">Về chúng tôi</li>
          <li class="text-black font-semibold list-[circle] list-inside">Lịch trình</li>
          <li class="text-black font-semibold list-[circle] list-inside">Tuyển dụng</li>
          <li class="text-black font-semibold list-[circle] list-inside">Tin tức & Sự kiện</li>
          <li class="text-black font-semibold list-[circle] list-inside">Mạng lưới văn phòng</li>
        </ul>
      </ion-col>
      <ion-col size="3">
        <label class="text-green-800 font-semibold">Hỗ trợ</label>
        <ul>
          <li class="text-black font-semibold list-[circle] list-inside">Tra cứu thông tin đặt vé</li>
          <li class="text-black font-semibold list-[circle] list-inside">Điều khoản sử dụng</li>
          <li class="text-black font-semibold list-[circle] list-inside">Câu hỏi thường gặp</li>
          <li class="text-black font-semibold list-[circle] list-inside">Hướng dẫn đặt vé trên Web</li>
          <li class="text-black font-semibold list-[circle] list-inside">Hướng dẫn nạp tiền trên App</li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row class="pt-6">
      <div class="mb-6 flex gap-6 fustify-center w-full">
        <a target="_blank" class="flex-1" href="https://futabus.vn/">
          <div class="aspect-[6/1] relative w-full">
            <img class="transition-all duration-200 aspect-[6/1] relative w-full"
              src="https://cdn.futabus.vn/futa-busline-cms-dev/Bus_Lines_817c989817/Bus_Lines_817c989817.svg" />
          </div>
        </a><a target="_blank" class="flex-1" href="https://futaexpress.vn">
          <div class="aspect-[6/1] relative w-full">
            <img class="transition-all duration-200 aspect-[6/1] relative w-full"
              src="https://cdn.futabus.vn/futa-busline-cms-dev/logo_futa_express_0ad93b22d3/logo_futa_express_0ad93b22d3.svg" />
          </div>
        </a><a target="_blank" class="flex-1" href="https://futaads.vn/">
          <div class="aspect-[6/1] relative w-full">
            <img class="transition-all duration-200 aspect-[6/1] relative w-full"
              src="https://cdn.futabus.vn/futa-busline-cms-dev/FUTA_Advertising_d0b60b3a45/FUTA_Advertising_d0b60b3a45.svg" />
          </div>
        </a><a target="_blank" class="flex-1" href="https://futabus.vn/tin-tuc/tram-dung-chan-5-sao">
          <div class="aspect-[6/1] relative w-full">
            <img class="transition-all duration-200 aspect-[6/1] relative w-full"
              src="https://cdn.futabus.vn/futa-busline-web-cms-prod/Tdcpl_1_5d2e395adc/Tdcpl_1_5d2e395adc.png" />
          </div>
        </a>
        <div class="mt-2 flex gap-4">
          <a target="_blank" href="https://www.facebook.com/xephuongtrang" rel="noreferrer">
            <div class="">
              <img alt="" class="transition-all duration-200 undefined"
                src="https://cdn.futabus.vn/futa-busline-cms-dev/facebook_1830e1b97c/facebook_1830e1b97c.svg"
                style="color: transparent" />
            </div>
          </a><a target="_blank" href="https://www.youtube.com/channel/UCs32uT002InnxFnfXCRN48A?view_as=subscriber"
            rel="noreferrer">
            <div class="">
              <img alt="" class="transition-all duration-200 undefined"
                src="https://cdn.futabus.vn/futa-busline-cms-dev/youtube_d5ef476c0e/youtube_d5ef476c0e.svg"
                style="color: transparent" />
            </div>
          </a>
        </div>
      </div>
    </ion-row>
  </div>
  <div
    class="flex min-h-[40px] flex-col items-center justify-center bg-[#00613D] py-2 text-center text-white sm:flex-row">
    <span>© 2023<span class="mx-2">|</span>Bản quyền thuộc về Công ty Cổ Phần Xe khách SF BUS - SF BUS Lines
      2023</span><span class="mx-2 hidden sm:block">|</span>Chịu trách nhiệm quản lý nội dung: Ông Võ Duy Thành
  </div>
</footer>