<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start" class="pl-5 py-2">
      <ion-back-button defaultHref="tabs" text="" icon="arrow-back-outline" color="black"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <form [formGroup]="enterPasswordForm" (submit)="onSubmit()" class="flex flex-col justify-between h-full">
    <div class="px-10 pt-10">
      <ion-row>
        <ion-col class="flex justify-center">
          <lottie-player src="../assets/animationJson/confirm-password.json" background="transparent" speed="1" loop autoplay> </lottie-player>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="flex justify-center text-center">
          <label class="text-xl font-bold">Cài đặt mật khẩu</label>
        </ion-col>
      </ion-row>
      <ion-row class="pt-10">
        <ion-col>
          <nz-input-group [nzSuffix]="suffixTemplate">
            <ion-icon src="assets/icons/password.svg" class="text-2xl text-primary pr-4"></ion-icon>
            <input [type]="passwordVisible ? 'text' : 'password'" formControlName="password" nz-input placeholder="Nhập mật khẩu của bạn" />
          </nz-input-group>
          <ng-template #suffixTemplate>
            <ion-icon
              class="text-gray-500 text-2xl"
              [name]="passwordVisible ? 'eye-off' : 'eye'"
              (click)="passwordVisible = !passwordVisible"
            ></ion-icon>
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p
            class="mt-1 pt-2 text-xs text-red-500"
            *ngIf="enterPasswordForm.controls['password'].errors?.['required'] && enterPasswordForm.controls['password'].touched"
          >
            Vui lòng điền vào trường này
          </p>
        </ion-col>
      </ion-row>
      <ion-row class="pt-3">
        <ion-col>
          <nz-input-group [nzSuffix]="suffixTemplate" class="custom-nz-input-group-none-boder">
            <ion-icon src="assets/icons/password.svg" class="text-2xl text-primary pr-4"></ion-icon>
            <input
              [type]="confirmPasswordVisible ? 'text' : 'password'"
              formControlName="confirmPassword"
              nz-input
              placeholder="Nhập lại mật khẩu của bạn"
            />
          </nz-input-group>
          <ng-template #suffixTemplate>
            <ion-icon
              class="text-gray-500 text-2xl"
              [name]="confirmPasswordVisible ? 'eye-off' : 'eye'"
              (click)="confirmPasswordVisible = !confirmPasswordVisible"
            ></ion-icon>
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="text-right">
          <p
            class="mt-1 pt-2 text-xs text-red-500"
            *ngIf="enterPasswordForm.controls['confirmPassword'].errors?.['required'] && enterPasswordForm.controls['confirmPassword'].touched"
          >
            Vui lòng điền vào trường này
          </p>
          <p
            class="mt-1 pt-2 text-xs text-red-500"
            *ngIf="enterPasswordForm.errors?.['notSame'] && enterPasswordForm.controls['confirmPassword'].touched && !enterPasswordForm.controls['confirmPassword'].errors?.['required']"
          >
            Mật khẩu không trùng khớp nhau
          </p>
        </ion-col>
      </ion-row>
      <ion-row class="pt-4">
        <ion-col>
          <div>
            <label class="text-base font-medium text-red-500">Ghi chú</label>
          </div>
          <div
            [ngClass]="{'valid': passwordConditions['minLength'], 'invalid': enterPasswordForm.controls['confirmPassword'].touched &&
             !passwordConditions['minLength']}"
          >
            <label class="text-sm">1. Tối thiểu 8 ký tự</label>
          </div>
          <div
            [ngClass]="{'valid': passwordConditions['hasUpperCase'], 'invalid': enterPasswordForm.controls['confirmPassword'].touched &&
             !passwordConditions['hasUpperCase']}"
          >
            <label class="text-sm">2. Ít nhất một chữ cái viết hoa</label>
          </div>
          <div
            [ngClass]="{'valid': passwordConditions['hasLowerCase'], 'invalid': enterPasswordForm.controls['confirmPassword'].touched &&
             !passwordConditions['hasLowerCase']}"
          >
            <label class="text-sm">3. Ít nhất một chữ cái viết thường</label>
          </div>
          <div
            [ngClass]="{'valid': passwordConditions['hasNumber'], 'invalid': enterPasswordForm.controls['confirmPassword'].touched &&
             !passwordConditions['hasNumber']}"
          >
            <label class="text-sm">4. Ít nhất một chữ số</label>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="flex flex-col px-10 pt-20 pb-10 text-center">
      <ion-row>
        <ion-col class="flex w-full">
          <ion-button type="submit">
            <ion-label>Xác nhận</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="pt-5">
        <ion-col class="flex w-full justify-center">
          <div class="flex items-center justify-center rounded-full bg-primary-100 p-2">
            <ion-icon name="finger-print-sharp" class="text-3xl text-primary"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="text-sm">Phiên 7.12.25 ( 1900334556 )</p>
        </ion-col>
      </ion-row>
    </div>
  </form>
</ion-content>
