<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar class="text-white">
      <div class="px-3 py-2">
        <ion-buttons slot="start" class="relative">
          <ion-back-button defaultHref="tabs/home" text="" icon="chevron-back-outline" color="white"></ion-back-button>
        </ion-buttons>
        <ion-title class="font-medium">Quét mã </ion-title>
      </div>
    </ion-toolbar>
  </ion-header>
  <div class="scan-container">
    <div class="scanner-frame">
      <div class="corner top-left"></div>
      <div class="corner top-right"></div>
      <div class="corner bottom-left"></div>
      <div class="corner bottom-right"></div>
    </div>
    <div class="scan-btns">
     
    </div>
  </div>
</ion-content>
