ion-action-sheet {
    .action-sheet-button {
        padding: 8px 14px !important;
        min-height: 42px !important;

        .action-sheet-button-inner {
            font-size: 16px;
        }
    }

}