.scanner-ui {
  display: none;
}

.scanner-hide {
  visibility: visible;
}

.camera-preview-active {
  background-color: transparent;

  .ion-page {
    display: initial;
    position: unset;
    background-color: transparent !important;
    --background-color: transparent;

    ion-toolbar {
      --background: transparent !important;
    }

    .scan-container {
      background: transparent !important;
    }
  }
}

.camera-preview-active .scanner-ui {
  display: block;
}

.camera-preview-active .scanner-hide {
  visibility: hidden;
}
