// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --primary: #04aca3;
  --secondary: #ffc62f;
  --tertiary: #ef5222;

  --white: #ffffff;
  --black: #000000;
  --bg-input: #f9f9f9;
  --border: #ccc;
  --text-gray: #ccc;

  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

:root {
  --ion-color-primary: #04aca3;
  --ion-color-secondary: #ffc62f;
  --ion-color-tertiary: #ef5222;
  --ion-color-white: #ffffff;
  --ion-color-black: #000000;
}

:root {
  --ion-safe-area-top: 25px;
}

.ion-color-white {
  --ion-color-base: var(--ion-color-white);
}

.ion-color-black {
  --ion-color-base: var(--ion-color-black);
}

.ion-color-primary {
  --ion-color-base: var(--ion-color-primary);
}
