.custom-context-modal {
    --width: max-content;
    --height: max-content;
    --backdrop-opacity: 0;
}


.mode-web {

    .layout {
        max-width: 1128px;
        margin-left: auto;
        margin-right: auto;
    }

    
}

