<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start" (click)="handleBeforeBack()">
      <ion-button color="black">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <form [formGroup]="verifyPasswordForm" (submit)="onSubmit()" class="flex flex-col justify-between h-full">
    <div class="px-10 pt-10">
      <ion-row>
        <ion-col class="flex justify-center">
          <lottie-player src="../assets/animationJson/password.json" background="transparent" speed="1" loop autoplay> </lottie-player>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="flex justify-center text-center">
          <label class="text-xl font-bold">Xin chào, {{this.userResidual?.name}}</label>
        </ion-col>
      </ion-row>
      <ion-row class="pt-10">
        <ion-col>
          <nz-input-group [nzSuffix]="suffixTemplate" class="custom-nz-input-group-none-boder">
            <ion-icon src="assets/icons/password.svg" class="text-2xl text-primary pr-4"></ion-icon>
            <input [type]="passwordVisible ? 'text' : 'password'" formControlName="password" nz-input placeholder="Nhập mật khẩu của bạn" />
          </nz-input-group>
          <ng-template #suffixTemplate>
            <ion-icon
              class="text-gray-500 text-2xl"
              [name]="passwordVisible ? 'eye-off' : 'eye'"
              (click)="passwordVisible = !passwordVisible"
            ></ion-icon>
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p
            class="mt-1 pt-2 text-xs text-red-500"
            *ngIf="verifyPasswordForm.controls['password'].errors?.['required'] && verifyPasswordForm.controls['password'].touched"
          >
            Vui lòng điền vào trường này
          </p>
          <p
            class="mt-1 pt-2 text-xs text-red-500"
            *ngIf="verifyPasswordForm.controls['password'].errors?.['minlength'] && verifyPasswordForm.controls['password'].touched"
          >
            Vui lòng nhập ít nhất 10 ký tự
          </p>
        </ion-col>
      </ion-row>
      <ion-row class="pt-5">
        <ion-col class="text-left">
          <label class="text-sm" (click)="forgotPassword()">Quên/Tạo mật khẩu?</label>
        </ion-col>
        <ion-col class="text-right">
          <label class="text-sm" (click)="notMe()">Không phải tôi</label>
        </ion-col>
      </ion-row>
    </div>
    <div class="flex flex-col px-10 pt-10 text-center">
      <ion-row>
        <ion-col class="flex w-full">
          <ion-button type="submit">
            <ion-label>Đăng nhập</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="pt-5">
        <ion-col class="flex w-full justify-center">
          <div class="flex items-center justify-center rounded-full bg-primary-100 p-2">
            <ion-icon name="finger-print-sharp" class="text-3xl text-primary"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="pt-5">
        <ion-col>
          <p class="text-xs">
            <span
              >Khi đăng nhập hoặc đăng ký, bạn đồng ý với <span class="text-primary">Điều khoản dịch vụ</span> và
              <span class="text-primary">Chính sách bảo mật</span> của SF
            </span>
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="text-sm">Phiên 7.12.25 ( 1900334556 )</p>
        </ion-col>
      </ion-row>
    </div>
  </form>
</ion-content>
