<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start" (click)="handleBeforeBack()">
      <ion-button color="black">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <form [formGroup]="verifyPasswordForm" (submit)="onSubmit()" class="flex flex-col justify-between h-full">
    <div class="px-10 pt-10">
      <ion-row>
        <ion-col class="flex justify-center">
          <lottie-player src="../assets/animationJson/password.json" background="transparent" speed="1" loop autoplay> </lottie-player>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="flex justify-center text-center">
          <label class="text-xl font-bold">Xin chào, {{this.userResidual?.name}}</label>
        </ion-col>
      </ion-row>
      <ion-row class="pt-10">
        <ion-col>
          <nz-form-item class="!flex !w-full !flex-col">
            <nz-form-control [nzErrorTip]="passwordErrorTpl" class="!contents">
              <nz-input-group [nzSuffix]="suffixTemplatePassword" class="custom-nz-input-group-none-boder">
                <ion-icon src="assets/icons/password.svg" class="text-2xl text-primary pr-4"></ion-icon>
                <input [type]="passwordVisible ? 'text' : 'password'" formControlName="password" nz-input placeholder="Nhập mật khẩu của bạn" />
              </nz-input-group>
              <ng-template #suffixTemplatePassword>
                <div class="flex items-center gap-2">
                  @if(f['password'].value){
                  <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" (click)="clearValueForm('password')"></span>
                  }
                  <svg-icon
                    src="assets/icons/heroicons/outline/{{ passwordVisible ? 'eye-off' : 'eye' }}.svg"
                    (click)="passwordVisible = !passwordVisible"
                    [svgClass]="'h-5 w-5 cursor-pointer'"
                  >
                  </svg-icon>
                </div>
              </ng-template>
              <ng-template #passwordErrorTpl let-control>
                <span class="mt-1 !text-xs text-red-500">
                  @if (f['password'].errors?.['required'] && f['password'].touched) { Vui lòng nhập mật khẩu. } @if
                  (f['password'].errors?.['passwordInvalid'] && f['password'].touched) { Vui lòng nhập đúng format mật khẩu. }
                </span>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </ion-col>
      </ion-row>
      <ion-row class="pt-5">
        <ion-col class="text-left">
          <label class="text-sm" (click)="forgotOrCreatePassword()">Quên/Tạo mật khẩu?</label>
        </ion-col>
        <ion-col class="text-right">
          <label class="text-sm" (click)="notMe()">Không phải tôi</label>
        </ion-col>
      </ion-row>
    </div>
    <div class="flex flex-col px-10 pt-10 text-center">
      <ion-row>
        <ion-col class="flex w-full">
          <ion-button type="submit">
            <ion-label>Đăng nhập</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="pt-5">
        <ion-col class="flex w-full justify-center">
          <div class="flex items-center justify-center rounded-full bg-primary-100 p-2">
            <ion-icon name="finger-print-sharp" class="text-3xl text-primary"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="pt-5">
        <ion-col>
          <p class="text-xs">
            <span
              >Khi đăng nhập hoặc đăng ký, bạn đồng ý với <span class="text-primary">Điều khoản dịch vụ</span> và
              <span class="text-primary">Chính sách bảo mật</span> của SF
            </span>
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="text-sm">Phiên 7.12.25 ( 1900334556 )</p>
        </ion-col>
      </ion-row>
    </div>
  </form>
</ion-content>
