<ion-tabs #tabs>
  <ion-tab-bar slot="bottoms" style="padding-bottom: max(0.5rem, env(safe-area-inset-bottom));">
    <ion-tab-button tab="home" class="no-ion-padding">
      <div class="flex items-end w-full h-full">
        <div class="w-full tab-block">
          <ion-icon class="w-full text-2xl" name="home-outline"></ion-icon>
          <ion-label>Trang chủ</ion-label>
        </div>
      </div>
    </ion-tab-button>
    <ion-tab-button tab="packs">
      <div class="flex items-end w-full h-full">
        <div class="w-full tab-block">
          <ion-icon class="w-full text-2xl" name="time-outline"></ion-icon>
          <ion-label>Tìm kiếm</ion-label>
        </div>
      </div>
    </ion-tab-button>
    <ion-tab-button>
      <div class="flex items-end justify-center w-full h-full" (click)="goToScan()">
        <div class="btn-qr-code">
          <img src="/assets/imgs/qr-code.gif" />
        </div>
        <div class="w-full tab-block">
          <ion-icon class="opacity-0 w-full text-2xl" name="person-outline"></ion-icon>
          <ion-label>Quay</ion-label>
        </div>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="donate" href="/tabs/donate">
      <div class="flex items-end w-full h-full">
        <div class="w-full tab-block">
          <ion-icon class="w-full text-2xl" name="heart-outline"></ion-icon>
          <ion-label>Ủng hộ</ion-label>
        </div>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <div class="flex items-end w-full h-full">
        <div class="w-full tab-block">
          <ion-icon class="w-full text-2xl" name="settings-outline"></ion-icon>
          <ion-label>Cài đặt</ion-label>
        </div>
      </div>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
